DebugClient/Service References/EchoDatagramClient/datagram3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/V37ZEN.DatagramService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/V37ZEN.DatagramService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8085/datagram?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Datagram">
    <xs:sequence>
      <xs:element name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Metadata" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Datagram" nillable="true" type="tns:Datagram" />
</xs:schema>